.amfont {
  font-size: 50px;
  margin: 100px 0 0;
  border-bottom: 2px solid #ccc;
}

.amfont span {
  display: inline-block;
}


.amfont span:nth-of-type(2) {
  animation-delay: .05s;
}

.amfont span:nth-of-type(3) {
  animation-delay: .1s;
}

.amfont span:nth-of-type(4) {
  animation-delay: .15s;
}

.amfont span:nth-of-type(5) {
  animation-delay: .2s;
}

.amfont span:nth-of-type(6) {
  animation-delay: .25s;
}

.amfont span:nth-of-type(7) {
  animation-delay: .3s;
}

.amfont span:nth-of-type(8) {
  animation-delay: .35s;
}

.amfont span:nth-of-type(9) {
  animation-delay: .4s;
}

.amfont span:nth-of-type(10) {
  animation-delay: .45s;
}

.amfont span:nth-of-type(11) {
  animation-delay: .5s;
}

.amfont span:nth-of-type(12) {
  animation-delay: .55s;
}

.amfont span:nth-of-type(13) {
  animation-delay: .6s;
}

.amfont span:nth-of-type(14) {
  animation-delay: .65s;
}

.svfont span {
  color: #348c04;
  opacity: 0;
  transform: translate(-150px, 0) scale(.3);
  animation: leftRight .5s forwards;
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(.7);
    opacity: 1;
    color: #348c04;
  }
  60% {
    color: #0f40ba;
  }
  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}